header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 50px;
  position: sticky;
  width: 100%;
  grid-area: header;
  background-color: yellow;
}
